.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  background-color: #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.chatbox {
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #2b2b2b;
  padding: 10px;
}

.message {
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #444;
  color: #f0f0f0;
}

.message-sender {
  font-weight: bold;
  color: #9ccc65;
}

.message-content {
  margin-left: 10px;
}

.message-timestamp {
  float: right;
  color: #888;
}

.message-form {
  display: flex;
  justify-content: space-between;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #444;
  color: #f0f0f0;
}

.message-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.message-button:hover {
  background-color: #303f9f;
}

.message-button:disabled {
  background-color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.no-messages {
  text-align: center;
  color: #999;
  margin: 20px 0;
  font-size: 1.2em;
}
